body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
    font-size: 98%;
}

div{
    /* border:1px dashed red; */
}

#home_head{
    margin-left: 10%;
    width: 80%;
    height: 90px;
    background: #5b6270;
}
#home_lable1{
    position: absolute;
    margin-top: -75px;
    margin-left: 350px;
    font-style:italic;
    font-size: 30px;
    color: white;
}
#home_lable2{
    position: absolute;
    margin-top: -37px;
    margin-left: 467px;
    font-style:italic;
    font-size: 20px;
    color: wheat;
}

#home_ad{
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
    height: 170px;
}
#preview_image {
    margin-left: 40%;
    max-width: 200px;
    max-height: 200px;
}

#main_center{
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
    background: #EAEAEA;
}

#center_input{
    margin-left: 15%;
}

#center_instructions{
    height: 300px;
    margin-top: 1%;
}

#instructions_left{
    width: 68%;
    float: left;
    border:1px dashed #5b6270;
    margin-left: 15%;
}

#instructions_right{
    width: 30%;
    float: left;
}

#center_option{
    margin-left: 15%;
}

#home_hr{
    margin-top: 1%;
    height:5px;
    border:none;
    border-top:3px ridge #5b6270;
}

#foot{
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: 50px;
    background: #5b6270;
}

#div_loading{
    margin-left: 44%;
}

.li_line_height{
    margin-top: 2%;
    margin-left: 2%;
}

ul li{
list-style-type:none;
}

.div-right{
    float: right;
}

.p_line_height{
    margin-top: 2%;
    margin-left: 2%;
}